Testing
install_manifest.txt
_deps

# CMake:
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
build/

# GNU Autotools:
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile.in
src/*.o
src/sonar_scanner_example

# Visual Studio
out
.vs
Debug
Release

# XCode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/